/*  NAVIGATION BAR  */

#navbarRPL {
    z-index: 1;
    color: white !important;
    font-size: 20px;
    background-color: #2FC1FF;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
}

#navbarRPL a {
    color: white !important;
}

.navbar-nav a {
    padding: 0 25px !important;
}

#navbarMenuRPL .navbar-nav img {
    height: 20px;
}

#navbarMenuRPL {
    float: right;
}

.navbar-brand {
    font-size: 40px;
    margin: -2vh 0;
    font-weight: 400;
}

.menuNavbar {
    position: relative;
    margin-left: auto;
    margin-right: 0;
    right: 0px;
}

.isi {
    margin-top: 50px;
}


/*  BODY OPENING  */

.menu-opening .container {
    position: relative;
    display: inlin;
    position: relative;
    flex-direction: row;
}


/*  MENU OPENING  */

.menu-opening {
    background-color: #C5EEFF;
    padding-top: 7.5vh;
    height: 73vh;
    max-height: 80vw;
}

.menu-opening h3 {
    font-size: clamp(25px, 3.2vw, 65px);
    padding-top: 10%;
    margin-left: 6vw;
    color: #006E9C;
}

.menu-opening img {
    float: right;
    margin-top: -30vh;
    margin-right: 15vh;
    height: 400px;
}

.menu-opening-button {
    margin-left: 35vw;
    margin-top: 10vh;
    position: relative;
    text-align: center;
    padding: 10px 0;
    border-radius: 50rem;
    background-color: #2FC1FF;
    width: 15vw;
}

.menu-opening-button a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3vw;
}


/*  MENU BENEFIT  */

.menu-benefit {
    margin-top: 65vh;
    background-color: #C5EEFF;
    height: 80vh;
    width: auto;
}

.menu-benefit h3 {
    text-align: center;
    font-size: clamp(16px, 4vw, 65px);
    padding-top: 10%;
    margin-left: 6vw;
    color: #006E9C;
}

.menu-benefit .row {
    width: 99vw;
    text-align: center;
    align-items: center;
    background-color: #C5EEFF;
}

.menu-benefit .col {
    font-size: 2vw;
    margin-top: 15vh;
    color: #006E9C;
}

.menu-benefit .col h5 {
    margin-top: 3vh;
    font-weight: 500;
}


/*  MENU ORDER  */

.menu-order {
    margin-top: 65vh;
    background-color: #C5EEFF;
    height: 600px;
}

.menu-order h3 {
    text-align: center;
    font-size: 3.2vw;
    padding-top: 5%;
    margin-left: 6vw;
    color: #006E9C;
}


/*  MENU CLOSING  */

.menu-closing {
    margin-top: 50vh;
    background-color: #00577B;
    height: 100px;
}

.menu-closing p {
    color: #FFF;
}


/* LOG IN */

.login h1 {
    color: #2FC1FF;
    font-weight: 800;
    margin: 0 20vw;
}